@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Bold'), local('TT-Hoves-Bold'),
      url('TTHoves-Bold.woff2') format('woff2'),
      url('TTHoves-Bold.woff') format('woff'),
      url('TTHoves-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Medium'), local('TT-Hoves-Medium'),
      url('TTHoves-Medium.woff2') format('woff2'),
      url('TTHoves-Medium.woff') format('woff'),
      url('TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vampiro One', cursive;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
  font-weight: 400;
}



div {
  font-family: 'TT Hoves';
}